* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  background-image: linear-gradient(to right, #205781, #4f959d, #98d2c0);
}

.square {
  width: 35px;
  height: 35px;
  border: 2px solid #98d2c0;
  background-color: white;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 105px;
  height: 105px;
}

.status {
  margin-bottom: 10px;
}

.game {
  display: flex;
}

.game-info {
  color: rgb(0, 0, 0);
}

.status {
  font-weight: bold;
}
